<nav id="<%= locals[:nav_id] %>" class="LayoutSidebar-nav LayoutSidebar-nav--training <%= "LayoutSidebar-nav--mobile" if locals[:mobile] %>">
  <div class="SidebarNav">
    <ul>
      <% @training_categories.each do |category| %>
        <li class="SidebarNav-item<%= " current_page" if current_page?(training_path(category.slug)) %>"><%= link_to category.title, training_path(category.slug) %></li>
      <% end %>
    </ul>
  </div>
</nav>

<% if !locals[:mobile] %>
  <% cur_page = "training.#{action_name}.title_html" %>
  <%= link_to "<i class='fa fa-caret-left fa-fw'></i> View More Training".html_safe, "#", :class => "sb-toggle-left SidebarNav-toggle" %>
<% end %>
