<nav id="<%= locals[:nav_id] %>" class="LayoutSidebar-nav LayoutSidebar-nav--training <%= "LayoutSidebar-nav--mobile" if locals[:mobile] %>">
  <div class="SidebarNav">
    <ul>
      <li class="SidebarNav-item<%= " current_page" if current_page?(training_path(:build)) %>"><%= link_to 'Build Your Team', training_path(:build) %></li>
      <li class="SidebarNav-item<%= " current_page" if current_page?(training_path(:lead)) %>"><%= link_to 'Lead Your Group', training_path(:lead) %></li>
      <li class="SidebarNav-item<%= " current_page" if current_page?(training_path(:grow)) %>"><%= link_to 'Grow Your Group', training_path(:grow) %></li>
      <li class="SidebarNav-item<%= " current_page" if current_page?(training_path(:manage)) %>"><%= link_to 'Manage Your Group', training_path(:manage) %></li>
    </ul>
  </div>
</nav>

<% if !locals[:mobile] %>
  <% cur_page = "training.#{action_name}.title_html" %>
  <%= link_to "<i class='fa fa-caret-left fa-fw'></i> View More Training".html_safe, "#", :class => "sb-toggle-left SidebarNav-toggle" %>
<% end %>
