<% if @training_category.image_url.present? %>
  <style>
    .PageHeader {
      background-image: url('<%= asset_path("#{@training_category.image_url}") %>');
    }
  </style>
<% end %>

<%= render "training_nav", :locals => { :nav_id => 'TrainingNav', :mobile => false } %>

<section id="TrainingBody" class="LayoutSidebar-body LayoutSidebar-body--training">
  <header class="PageHeader">
    <h1 class="PageHeader-title"><%= @training_category.title %></h1>
    <div class="PageHeader-subtitle"><%= @training_category.description %></div>
  </header>

  <section class="VideoEmbed-grid">
    <% @training_category.videos.each do |video| %>
      <div class="VideoEmbed"><%= video.get_video_iframe %></div>
    <% end %>
  </section>

  <% if @training_category.trainings %>
    <% @training_category.trainings.each_with_index do |training, index| %>
      <section class="TrainingSection <%= "TrainingSection--alt" if (index % 2) == 0 %>">

        <header class="SectionHeader">
          <h1 class="SectionHeader-title"><%= training.title %></h1>
          <div class="SectionHeader-description"><%= training.description.html_safe %></div>
        </header>

        <section class="VideoEmbed-grid">
          <% video_count = training.videos.count %>
          <% training.videos.each do |video| %>
            <div class="VideoEmbed <%= "VideoEmbed--inline VideoEmbed--count#{video_count}" if video_count > 1%>"><%= video.get_video_iframe %></div>
          <% end %>
        </section>

        <% if training.downloads.first %>
        <ul class="DownloadList">
          <% training.downloads.each do |download| %>
            <li class="DownloadList-item">
              <% download_name = download.title ? download.title : download.file.file.filename %>
              <%= link_to "<i class='fa fa-arrow-circle-o-down fa-fw'></i> <span class='DownloadList-text'>Download <span class='DownloadList-filename'>#{download_name}</span></span>".html_safe, download_link_path(download.id, download.file.file.filename), :type => 'application/pdf', :disposition => 'attachment' %>
            </li>
          <% end %>
        </ul>
        <% end %>
      </section>
    <% end %>
  <% end %>
</section>
