<div class="Profile">
  <div class="Profile-form">
    <h2>My Profile</h2>
    <%= form_for current_user, :as => 'user', :url => profile_path(current_user), :html => {role: 'form', class: "nifty_form"} do |f| %>

      <div id="user-info">
        <fieldset>
          <label>Name:</label>
          <%= f.text_field :name %>

          <label>Email:</label>
          <%= f.text_field :email %>

          <label>Phone:</label>
          <%= f.text_field :phone %>
        </fieldset>

        <fieldset>

          <label>Password:</label>
          <%= f.password_field :password, autocomplete: "off" %>
          <i class="help">(leave blank if you don't want to change it)</i>

          <label>Password Confirmation:</label>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>

          <label>Current Password:</label>
          <%= f.password_field :current_password, autocomplete: "off" %>
          <i class="help">(we need your current password to confirm your changes)</i>

        </fieldset>
      </div>


      <%= f.submit 'Update your Profile', :class => 'btn btn-primary' %>
    <% end -%>
  </div>

</div>
