<section class="SigninForm u-dark-background">
  <%= image_tag 'logo-rebootnet-white.png', class: "reboot-logo" %>

  <h3 class="Signin-title">Change your password</h3>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="SigninForm-field">
      <label for="password" class="SigninForm-label--icon"><i class="fa fa-lock fa-fw"></i></label>
      <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
      <div><em>(New password - <%= @minimum_password_length %> characters minimum)</em></div>
    </div>

    <div class="SigninForm-field">
      <label for="password" class="SigninForm-label--icon"><i class="fa fa-lock fa-fw"></i></label>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <div><em>(Confirm new password)</em></div>
    </div>

    <div class="SigninForm-field--submit">
      <%= f.submit "Change my password" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>
