<header class="navigation">
  <div class="navigation-wrapper">
    <%= link_to(image_tag('reboot-logo.png').html_safe, root_path, :class => 'logo') %>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="/start">Leader Training</a></li>
        <li class="nav-link"><a href="/lessons">Weekly Materials</a></li>
        <li class="nav-link"><a href="/promote">Promote Your Group</a></li>
        <li class="nav-link"><a href="/store">Store</a></li>
        <% if user_signed_in? %>
          <li class="nav-link mobile-only"><%= link_to("My Profile", profile_path) %></li>
          <li class="nav-link mobile-only"><%= link_to("Log out", :destroy_user_session, :method => "delete") %></li>
        <% else %>
          <li class="nav-link mobile-only">
            <label for="modal-1">
              <div href="javascript:void(0)" class="menu-sign-in">Sign-in</div>
            </label>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="navigation-tools">
      <% if user_signed_in? %>
        <div class="user-bar">
          <%= link_to("My Profile", profile_path, :class => 'profile-link') %>
        </div>
        <%= link_to("Log out", :destroy_user_session , :class => "sign-up", :method => "delete") %>
      <% else %>
        <label for="modal-1">
          <div href="javascript:void(0)" class="sign-in">Sign-in</div>
        </label>
      <% end %>
    </div>
  </div>
</header>
