<% if user_signed_in? %>
<header id="main-menu">
  <div class="MainMenu <%= "MainMenu--sidebar" if locals[:sidebar] %>">
    <%= link_to(image_tag('logo-reboot.png').html_safe, root_path, :class => 'MainMenu-logo') %>
    <ul class="MainMenu-list">
      <li class="MainMenu-item"><a href="/training"><i class="fa fa-fw fa-book"></i> Leader Training</a></li>
      <li class="MainMenu-item"><a href="/lessons"><i class="fa fa-fw fa-calendar"></i> Weekly Materials</a></li>
      <li class="MainMenu-item"><a href="http://supply.rebootrecovery.com/"><i class="fa fa-fw fa-shopping-cart"></i> Store</a></li>
    </ul>

    <ul class="MainMenu-list MainMenu-list--profile">
      <li class="MainMenu-item"><%= link_to '<i class="fa fa-fw fa-user"></i> Profile'.html_safe, profile_path() %></li>
      <li class="MainMenu-item"><%= link_to '<i class="fa fa-fw fa-sign-out"></i> Sign Out'.html_safe, :destroy_user_session , :method => "delete" %></li>
    </ul>

    <div class="MainMenu-list MainMenu-list--tools">
      <%= link_to '<i class="fa fa-user"></i>'.html_safe, '', :class => 'sb-toggle-right MainMenu-toolsItem MainMenu-toolsItem--profile' %>
      <a href="#" class="MainMenu-toolsItem MainMenu-toolsItem--menu sb-toggle-right" id="js-mobile-menu"><i class="fa fa-bars"></i></a>
    </div>
  </div>
</header>
<% end %>
