<%= render "lesson_nav", locals: { :nav_id => "LessonNav", :mobile => false, :current_page => @lesson } %>
<section id="LessonBody" class="LayoutSidebar-body">
  <style>
    .PageHeader {
      background: url('<%= asset_path("#{@lesson.image_url}") %>');
      background-size: cover;
    }
  </style>

  <header class="PageHeader">
    <h1 class="PageHeader-title"><%= @lesson.title %></h1>
    <div class="PageHeader-subtitle"><%= @lesson.description.html_safe %></div>
  </header>

  <% if @lesson.video_embed.present? %>
    <div class="VideoEmbed"><%= @lesson.get_video_iframe %></div>
  <% end %>

  <ul class="DownloadList">
    <% @lesson.downloads.each do |download| %>
      <li class="DownloadList-item"><%= link_to "<i class='fa fa-arrow-circle-o-down fa-fw'></i> <span class='DownloadList-text'>Download <span class='DownloadList-filename'>#{download.file.file.filename}</span></span>".html_safe, download_link_path(download.id, download.file.file.filename), :type => 'application/pdf', :disposition => 'attachment' %></li>
    <% end %>
  </ul>

  <section class="VideoEmbed-grid">
    <h2>Teaching Tips</h2>

    <% @lesson.videos.each do |video| %>
      <div class="VideoEmbed VideoEmbed--inline"><%= video.get_video_iframe %></div>
    <% end %>
  </section>

  <section class="Blockquote">
    <div class="Blockquote-wrapper">
      <h2 class="Blockquote-title">Weekly Summary Email</h2>
      <div class="Blockquote-body"><%= @lesson.weekly_summary.html_safe %></div>
    </div>
  </section>

  <%= render 'shared/footer' %>
</section>
