<p id="notice"><%= notice %></p>

<p>
  <strong>Week:</strong>
  <%= @lesson.week %>
</p>

<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @lesson.image %>
</p>

<p>
  <strong>Teaching content:</strong>
  <%= @lesson.teaching_content %>
</p>

<p>
  <strong>Teaching tips:</strong>
  <%= @lesson.teaching_tips %>
</p>

<p>
  <strong>Weekly communication:</strong>
  <%= @lesson.weekly_communication %>
</p>

<%= link_to 'Back', lessons_path %>
