<%= render "lesson_nav", locals: { :nav_id => "LessonNav", :mobile => false, :current_page => @lesson } %>
<section id="LessonBody">
  <style>
    .PageHeader {
      background: url('<%= asset_path("#{@lesson.image_url}") %>');
      background-size: cover;
    }
  </style>

  <header class="PageHeader">
    <h1 class="PageHeader-title"><%= @lesson.title %></h1>
    <div class="PageHeader-subtitle"><%= @lesson.description %></div>
  </header>

  <div class="VideoEmbed"><%= @lesson.video_embed %></div>

  <ul class="DownloadList">

    <% if @lesson.video_dnload_url.present? %>
      <li class="DownloadList-item"><%= link_to "Download 1", @lesson.video_dnload_url %></li>
    <% end %>

    <% if @lesson.lesson_pdf.present? %>
      <li class="DownloadList-item"><%= link_to "<i class='fa fa-arrow-circle-o-down fa-fw'></i> <span class='DownloadList-text'>Download <span class='DownloadList-filename'>#{@lesson.lesson_pdf.file.filename}</span></span>".html_safe, @lesson.lesson_pdf_url %></li>
    <% end %>
    <% if @lesson.handout_pdf.present? %>
      <li class="DownloadList-item"><%= link_to "<i class='fa fa-arrow-circle-o-down fa-fw'></i> <span class='DownloadList-text'>Download <span class='DownloadList-filename'>#{@lesson.handout_pdf.file.filename}</span></span>".html_safe, @lesson.handout_pdf_url %></li>
    <% end %>
  </ul>

  <section class="LessonTeaching">
    <h2>Teaching Tips</h2>

    <div class="LessionTeachingTips">Video 1</div>
    <div class="LessionTeachingTips">Video 2</div>
  </section>

  <section class="Blockquote">
    <div class="Blockquote-wrapper">
      <h2 class="Blockquote-title">Weekly Summary Email</h2>
      <div class="Blockquote-body"><%= @lesson.weekly_summary %></div>
    </div>
  </section>

</section>
