<%= render "lesson_nav" %>
<p id="notice"><%= notice %></p>

<header class="LessonHeader">
  <h1 class="LessonHeader__title"><%= @lesson.title %></h1>
  <div class="LessonHeader__subtitle"><%= @lesson.description %></div>
</header>

<section class="LessonBody">

  <div class="LessonVideo"><%= @lesson.video_embed %></div>

  <ul class="LessonDownloads">
    <li><%= link_to "Download 1", @lesson.video_dnload_url %></li>
    <li><%= link_to "Download 2", @lesson.lesson_pdf_url %></li>
    <li><%= link_to "Download 3", @lesson.handout_pdf_url %></li>
  </ul>

</section>

<section class="LessonTeaching">
  <h2>Teaching Tips</h2>

  <div class="LessionTeachingTips">Video 1</div>
  <div class="LessionTeachingTips">Video 2</div>
</section>

<section class="LessonWeeklySummary">
  <h2>Weekly Summary</h2>
  <%= @lesson.weekly_summary %>
</section>

<%= link_to 'Back', lessons_path %>
