<section class="SigninForm u-dark-background">
  <%= image_tag 'logo-rebootnet-white.png', class: "reboot-logo" %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="SigninForm-field">
      <label for="email" class="SigninForm-label--icon"><i class="fa fa-user fa-fw"></i></label>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="SigninForm-field">
      <label for="password" class="SigninForm-label--icon"><i class="fa fa-lock fa-fw"></i></label>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="SigninForm-remember">
        <%= f.check_box :remember_me %>
        <label for="remember_me" class="checkbox-label">Remember Me</label>
      </div>
    <% end -%>

    <div class="SigninForm-field--submit">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>
